<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VİDEO</title>
    <style>
        body, html {
            height: 100%;
            margin: 0;
            overflow: hidden; /* Sayfa genelinde scroll'u devre dışı bırakır */
        }

        #video-container {
            position: relative;
            width: 100%;
            height: 100vh; /* 100% of the viewport height */
        }

        #video {
            width: 100%;
            height: 100%;
            object-fit: cover; /* Video boyutunu korur ve tam ekran sığacak şekilde ölçekler */
        }
    </style>
</head>
<body>
    <div id="video-container">
        <video id="video"  autoplay  muted>
            <!-- Video dosyanızın yolunu belirtin -->
            <source src="{{ url_for('static', filename='media_src/deneme.mp4') }}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script>
        // JavaScript ile video boyutunu ekran boyutuna uyacak şekilde ayar
        window.addEventListener('resize', function() {
            var videoContainer = document.getElementById('video-container');
            var video = document.getElementById('video');

            videoContainer.style.height = window.innerHeight + 'px';
        });

        // Sayfa yüklendiğinde video boyutu ayar
        window.addEventListener('load', function() {
            var videoContainer = document.getElementById('video-container');
            var video = document.getElementById('video');

            videoContainer.style.height = window.innerHeight + 'px';

            // Video biterse success.html'e yönlen
            video.addEventListener('ended', function() {
                console.log('Video ended. Redirecting to success.html');
                window.location.href = '/success';
            });
        });

        // El durumu kontrolü
        setInterval(function() {
            $.ajax({
                url: '/check_hand_status',
                type: 'GET',
                dataType: 'json',
                success: function(data) {
                    console.log('AJAX success. Hand status:', data.hand_status);
                    if (data.hand_status === 0) {
                        console.log('Hand detected. Redirecting to /index');
                        // El algılandığında /video endpoint'ine yönlendir
                        window.location.href = '/';
                    }
                },
                error: function(error) {
                    console.log('AJAX error:', error);
                }
            });
        }, 1000);
    </script>
</body>
</html>
